:root{
    --first-color--: #263248;
    --second-color--: #f8bd0a;
    /* --third-color--:; */
    --shadow--: 5px 5px 10px #6f7364; 
    --text-color--: #ffffff;
    --border: rgba(45, 46, 45, 0.4);
    --shadow:10px 5px 15px rgba(107, 104, 104, 0.6);
    --main-color: rgb(231, 191, 13);
    --head-color:rgb(43, 42, 41);
    --light: #eee;
    --zebra: hsl(46, 81%, 55%);
}
* {
    padding: 0;
    margin: 0;
    justify-content: center;
}
body{
    min-width: 340px;
    max-width: 2700px;
}
nav button{
    display: block;
    font-size: 2em ;
    background-color: transparent;
    border: none;
    color: var(--second-color--);
    padding-left: .5em;
}
nav button:hover{
    background-color: rgb(0,0,0,.6);
}

nav{
    display: block;
    background-color: var(--first-color--);
    padding: 0;
    border-radius: 10px 10px 0 0;
}
nav ul{
    list-style-type: none;

}

/* header nav{
    position: fixed;
    flex: 1 1 auto;
} */
#Logo{
    position: sticky;
    top: 0rem;
}
nav ul li a{
    display: block;
    color: var(--text-color--);
    padding: .9rem;
    text-decoration: none;
    border-top: 1.5px solid rgb(0,0,0,.4);
    transition: transform .6s;
}
nav ul li a:hover{
    background-color: rgb(0,0,0,.6);
    color: var(--second-color--);
    /* transform: scale(1.2); */
}
/* div #icon{ */
    /* display: flex;
    flex-direction: row; */

#Logo #miray,#Logo #icon{
    display: none;
}
div #icon img,footer #footer-icon img{
    width: 3rem;
    height: 3rem;
    transition: transform .6s;
}
.icon img:hover{
    transform: scale(1.5);
}
#miray #header-date{
    display: none;
}

#Logo #icon{
    align-self: center;
    display: flex;
    flex-direction: row;
}

main #spotlight #spot3{
    display: none;
}
#Logo{
    display: flex;
    flex-direction: column;
    background-color: var(--second-color--);
    justify-content: center;
    border-radius: 0 0 15px 15px;
    box-shadow: var(--shadow--);

}
#Logo img{
    /* justify-self: center; */
    align-self: center;
    width: 20em;
    border-radius: 30px;
    margin: 15px;
    box-shadow: var(--shadow--);
}
#Logo #miray{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-left: ; */
    text-shadow: var(--shadow--);
    /* box-shadow: var(--shadow--); */  
}
div #header-date{
    text-align: center;
    background-color: rgba(70, 64, 64, 0.5);
    color: snow;
    box-shadow: var(--shadow--);
}
div #header-date p{
    font-size: 1.5em;
    padding: 15px;
}

#Logo div h1{
    font-size: 3em;
}
#Logo div h2{
    font-size: 2em;
}
/* #Logo div{ */
    /* margin-left: 7px; */
    /* display: none; */
/* } */

nav ul{display: none;}
nav ul.open{ display: block;}
/* this is when humberger appear */
#hamburgerMenu span:nth-child(1){display: block;}
#hamburgerMenu span:nth-child(2){display: none;}
/* this is when X appear */
#hamburgerMenu.open span:nth-child(1){display: none;}
#hamburgerMenu.open span:nth-child(2){
    display: block;
    background-color: red;
    color: var(--text-color--);
}
main{
    display: flex;
    flex-direction: column;

}

main .card{
    text-align: center;
    justify-content: space-between;
    margin: 10px;
    background-color: #eee;
    height: auto;
    box-shadow: var(--shadow--);
    border-radius: 10px;
}
main .card p, .card img{
    padding: 15px;
}
.spot1-2 img{
    padding: 15px;
}
main #hero{
    width: auto;
    height: auto;
    background-color: transparent;
}

/* MODIFICATION */
#hero picture img{
    grid-row: 1/4;
    grid-column: 1/4;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.hr{
    background-color: var(--second-color--);
    margin: 0 30px 0 30px;
    height: 4px;
}

#hero p a{
    background-color: transparent;
    font-size: 2.5em;
    color: black;
    text-decoration: none;
    font-weight: bold;
    animation-name: textzoom;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes textzoom{
    0%{
        font-size: 1.5em;
        color: red;
    }
    50%{
        font-size: 2.1em;
        color: green;
    }
    100%{
        font-size: 1.5em;
        color: #f8bd0a;
    }
}
#hero p a:hover{
    color: var(--second-color--);
    background-color: rgb(0,0,0,.4);
    border-radius: 10px;
    padding: 10px;
}
#hero p{
    grid-row: 3/4;
    grid-column: 2/3;
}
#hero{
    display: grid;
    grid-template-columns: 100px auto 100px;
    transition: 0.4s;
}

/* MODIFICATION */
#hero picture{
    grid-column: 1/4;
    grid-row: 1/4;
}


#hero h2{
    top: 450px;
    right: 42%;
    background-color: rgb(0,0,0,.4);
    color: var(--text-color--);
    height: auto;
    padding: 10px;
    grid-row: 1/3;
    grid-column: 2/3;
    align-self: end;
    border-radius: 10px;
    font-size: 2em;
}
#hero img, #hero p{
    padding: 0;
}

main #join{
    display: none;
}
.h2{
    background-color: var(--second-color--);
    border-radius: 10px 10px 0 0;
    padding: 10px 0 10px 0;
}

main #spotlight{
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;

}
main #spotlight .spot1-2{
    width: 90%;
    justify-items: center;
    height: auto;
    padding: 5px;
    margin: 5px;
    border: 1px solid rgb(0,0,0,.3);
}

#weather-icon{
    display: inline-flex;
    
}
#weather-icon img{
    background-color: rgb(0,0,0,.4);
    border-radius: 50%;
}

.joinUs{
    /* background-color: red; */
    padding: 20px;
}
.joinUs a{
    background-color: var(--first-color--);
    color: white;
    font-size: 1.5em;
    padding: 10px;
    border-radius: 10px;text-decoration: none;
}
.joinUs a:hover{
    color: var(--second-color--);
}

footer{
    text-align: center;
    border-radius: 15px;
    background-color: var(--first-color--);
    color: var(--text-color--);
    box-shadow: var(--shadow--);
    height: auto;
}
footer div{
    padding: 40px;
}
hr{
    height: 2px;
    background-color: rgb(0,0,0,.6);
    border: 0;

}

footer #name{
    border-top: 1.5px solid rgba(252, 207, 8, 0.3);
}
footer #image img{
    width: 100px;
    height: auto;
    border-radius: 20px;
    box-shadow: 5px 5px 20px black;
}
#name p .date {
    color: yellow;
}

footer #location p a{
    /* font-size: 2em; */
    color: yellow;
}
#location p{
    font-size: 1em;
}
footer #location{
    height: 60px;
}
#footer-icon img{
    margin-left: 15px;
    
}

/* DISCOVERY PAGE CSS */

/* #main-countoner{
    display: grid;
    grid-template-columns: 400px 1fr;
    align-items: center;
} */
#main-countoner{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 260px;
    /* justify-content: center; */
}
#userVisit{
    color: #f8bd0a;
}

#sidebar{
    display: flex;
    /* flex-direction: column; */
    background-color: #000;

}
.user{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px 0 20px 0;
}
.user hr{
    margin: 10px 15px;    
}


#sidebar p,#sidebar div h2 {
    color: #eee;
}
.whether-text{
    color: #eee;

}
.user:hover{
    background-color: rgba(44, 44, 43, 0.6);
    /* padding-left: 40%; */
    transition: .6s;
}
.user h1{
    color: var(--second-color--);
}


#main-image{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    /* background-color: #eee; */

}
.disco{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    border: 5px solid var(--second-color--);
    border-radius: 150px 0 100px 0;
    
}

.disco div p{
    margin: 20px 0 30px 0;
    text-align: center;
    /* justify-self: center; */
}

.whether-text{
    margin-top: 20px;
}
#weather-icon h1{
    font-size: 1.2em;
}

.description{
    font-size: 1.5em;
    padding: 0 10px 0 10px;
}

.comment{
    justify-self: center;
    margin: 20px;
}
.images{
    /* width: 380px; */
    position: relative;
}
.images img{
    width: 100%;
    display: block;
    margin: auto;
    border-radius: 150px 0px 150px 0px;

}
.title{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgb(0,0,0,.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.6s;
}
.title:hover{
    opacity: 1;
    color: var(--second-color--);
    font-size: 1.2em;
    border-radius: 150px 0px 150px 0px;
}

/* JOIN PAGE  FOR THE CHAMBER PROJECT */

#main-Join{
    /* display: flex;
    flex-direction: row; */
    padding: 0 2%;
    min-height: 20em;
    /* justify-self: center; */
   
}
#main-Join div{
    align-items: center;
    padding: 10px;
}


#joinHead{
    display: flex;
    flex-direction: column;
    background-color: var(--second-color--);
    align-items: center;
    /* justify-content: center; */

}

table{
    border: thin solid var(--border);
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: var(--shadow);
    
}

caption{
    caption-side: bottom;
    padding: 15px;
}

th, td{
    padding: 7px 25px;
    border: 1px solid hsla(0,0%,33%,.3);
}
thead{
    background-color: var(--head-color);
}
.col{
    background-color: black;
}

th{
    font-size: 1.3em;
    color: whitesmoke;
    font-weight: 400px;
}
td{
    font-size: 1em;
    font-weight: bold;
}
tr:first-child th{
    color: var(--main-color);
}

tbody tr:nth-child(odd){
    background-color: var(--zebra);
}

form fieldset{
    margin: 2rem 0;
    border: 1px solid #0407b9;
    border-radius: 10px;
    padding: .5rem 2%;
    /* max-width: 36rem; */
    /* min-width: 25rem; */
}

form legend{
    color: #0407b9;
    padding: 0 1.3rem;
    margin: .5rem;
    font-size: 1.3em;
    font-weight: 700;
}

Form label.top, label select{
    display: block;
    padding: 1rem .5rem;
    /* padding-left:.5rem; */
}
.top:hover{
    background-color: rgb(0%,0%,0%,.1);
}

Form label.top input, label textarea, label select, .submitbtn{
    display: block;
    font-size: 1rem;
    padding: .6rem;
    border: 1px solid #0407b9;
    border-radius: 10px;
    background-color: rgb(0%,0%,50%,.1);
    color: #555;
    width: 95%;
    /* max-width: 20rem; */
}

#button {
    background-color: rgb(2, 2, 141);
    margin-left: 2.3rem;
    color: whitesmoke;
}
label.top input, label select, label textarea{
    margin-top: .75rem;
}

form label.top input:required{
    border: 2px solid red;
}
form label.top input:required:valid{
    border: 4px solid  rgb(2, 2, 141);
}

/* @media (min-width: 32rem) {
    header {
        display: grid;
        grid-template-columns: 300px 1fr;
        padding: 20px;
    }
} */


/*  DIRECTORY STYLES */
*{
    padding: 0; 
    text-decoration: none;
}
.main-directory{
    text-align: center;
    display: flex;
    background-color:#eee;
    justify-content: center;
    justify-items: center;
}
#button{
    display: flex;
    flex-direction: row; 
    margin:20px 0;

}
#button button {
    margin: 0 10px;
    width: 80px;
    height: 60px;
}
#button button:hover{
    background-color: rgb(0,0,38,.2);
    color: white;
}


.directory_btn{
    border: 2px solid #6578;
    font-size: 1.2em;
    padding: 1.3rem;
    margin-left: 20px;
    border-radius: 10px;
}

.gridV {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.gridV .company{
    height: 500px;
    background-color: rgb(0,0,0,.2);
    border-radius: 20px;
    width: 250px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    justify-content: center;
    box-shadow: 5px 5px 10px #444;

}
.gridV .company h2{
    color: var(--first-color--);
    font-weight: bold;
    font-size: 2em;
}

.gridV .company img{
    border-radius: 10px;
    margin: .5rem 0;
    height: 250px;
    object-fit: cover;
}
.gridV .company p{
    margin: .8rem 0;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;

}

.gridV hr{
    margin: 20px 0;
}



.listV {
	display: flex;
	flex-direction: column;
    flex-wrap: wrap;
}


.listV img{
    display: none;
}
.listV section {
    height: auto;
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	margin: 0;
	padding: 1em;
    background-color: var(--ground--);
    border-top: 4px solid var(--second-color--);
}
.listV a{
    display: none;
}
.listV hr{
    display: none;
}
.listV .phone{
    display: none;
}
.listV .company{
    background-color: rgb(38, 50, 72,.2);
}
.listV p, .listV a{
    font-size: 1.1em;
}
.listV .company h2{
    color: var(--first-color--);
    font-weight: bold;
    font-size: 1.3em;
}
.listV section:nth-child(even) {
	background-color: rgb(248, 189, 10,.4);
    color: red;
}
.listV section:nth-child(even) h2{
    color: palevioletred
}




